
.Discover-wrapper{
    padding-top: 120px;
    padding-bottom: 120px;
}
.h2{
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 117%;
    letter-spacing: 0.01em;
    color: #054457;
}
.rec{
    margin: 0;
    margin-bottom: 16px;
    font-size: 32px;
}
.psisco{
    margin: 0;
}
.learn-wrapper{
    display: flex;
    justify-content: space-between;
     margin-bottom: 48px;
}
.learn-m{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 144%;
    letter-spacing: 0.03em;
    color: #69b99d;
    height: 32px;
    display: flex;
    gap: 8px;
}
.list-wrapper{

}
.list-house{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.element-house{
    display: flex;
    flex-direction: column;
    width: 342px;

    border: 1px solid #DEDCDA;
    padding: 16px
}
.text-el-house{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0em;
    color: #1f2744;
    margin: 0;
    margin-top: 16px;
    margin-bottom: 8px;
}
.p-el-house{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    letter-spacing: 0em;
    color: #a6a6a6;
    margin: 0;
    margin-bottom: 24px;
}
.price-el-house{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0em;
    color: #69b99d;
    margin: 0;
    margin-right: 32px;
    margin-bottom: 24px;
}
.text-quadrature1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0em;
    color: #1f2744;
    margin: 0;;
}
.text-quadrature2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0em;
    color: #A6A6A6;
    margin: 0;
    width: 100%;
}

.button-lt-hs{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0em;
    color: #69b99d;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #69B99D;
    padding: 12px 0;
    margin-top: 15px;
    
}
.section-prc-m2{
    display: flex;
    justify-content: space-between; 

}
.quadrature{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 32px;
    padding: 4px 8px;
    background-color: #F5F5F5;
    gap: 5px;
}
.button-lt-hs:hover{
   -webkit-box-shadow: 1px 4px 12px 3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 1px 4px 12px 3px rgba(34, 60, 80, 0.2);
    box-shadow: 1px 4px 12px 3px rgba(34, 60, 80, 0.2);
    background-color: #69B99D;
    color: white;
    transition: .3s linear;
}
.learn-m:hover .img-learn {
    border-radius: 50%;
    -webkit-box-shadow: 1px 4px 12px 3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 1px 4px 12px 3px rgba(34, 60, 80, 0.2);
    box-shadow: 1px 4px 12px 3px rgba(34, 60, 80, 0.2);
    transition: .3s linear;
}   