
.hero {
  padding-top: 64px;
  background-color: #f5f5f5;
  padding-bottom: 108px;
  background-image: url("../Img/bg.webp");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}
.h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  line-height: 116%;
  letter-spacing: 0em;
  color: #1f2744;
}
p {
font-family: "Poppins", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 163%;
letter-spacing: 0.03em;
color: #73788c;

}
.phero {

  margin: 0;
  margin-bottom: 64px;
  margin-top: 24px;
}
.search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 0;
  margin: 0;
  padding: 32px;
  -webkit-box-shadow: 1px 4px 12px 3px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 1px 4px 12px 3px rgba(34, 60, 80, 0.2);
  box-shadow: 1px 4px 12px 3px rgba(34, 60, 80, 0.2);
}

.search-tabs {
  display: flex;
}

.tab {
  background: transparent;
  border: none;
  padding: 12px 32px;
  cursor: pointer;

  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #9aa0b3;

  transition: background-color 0.2s ease, color 0.2s ease;

}

.tab.active {
  background: #f2f2f2;
  color: #3bb78f;
  border-radius: 4px;
}

.search-form {
  display: none;
  grid-template-columns: 1.3fr 1fr 1fr 96px;
  align-items: center;
  column-gap: 18px;
}



.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

label {
  font-size: 12px;
  color: #1f2744;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0em;
  color: #1f2744;
}

select {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0em;
  color: #a6a6a6;
  color: #9aa0b3;
}

.search-button {
  height: 60px;
  width: 153px;

  background: #6bbf9f;
  color: #ffffff;

  border: none;
  border-radius: 2px;

  font-family: "Poppins", sans-serif;
  font-size: 15px;

  cursor: pointer;
}

.search-button:hover {
  background: #5ab592;
  transition: 0.3s linear;
  -webkit-box-shadow: 1px 4px 12px 3px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 1px 4px 12px 3px rgba(34, 60, 80, 0.2);
  box-shadow: 1px 4px 12px 3px rgba(34, 60, 80, 0.2);
}

.tab-active {
  height: 56px;
  width: 109px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fefeff;
  border: None;
  color: #69b99d;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0em;
  color: #69b99d;
}
.tab {
  height: 56px;
  width: 109px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  border: None;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0em;
  color: #a6a6a6;
}
.search-form-active{

}
.search-form-active{
  display: flex;
 
}