@import url(about.css);
@import url(advance.css);
@import url(container.css);
@import url(customer.css);
@import url(Discover.css);
@import url(footer.css);
@import url(./hero.css);






header{
}
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}

.color1{
    color: #8E8E8E;
}
.color1:hover{
    color: #69B99D;
}
.header {
  padding: 24px 0;
  background-color: #f5f5f5;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.header-logo {
  display: flex;
  align-items: center;
  gap: 8px;

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.02em;
  color: #4ba586;
  margin-bottom: 8px;
}


.nav {
  display: flex;
  align-items: center;
  gap: 32px;
}


.list-header {
  display: flex;
  align-items: center;
  gap: 40px;

  list-style: none;
  padding: 0;
  margin: 0;
}

.element-list-header {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #8e8e8e;
  transition: color 0.2s ease;
}

.element-list-header:hover {
  color: #4ba586;
}


.list-login-sign {
  display: flex;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.element-list-login-sign,
.element-list-login-sign2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 12px 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.text-sing {
  color: #69b99d;
}


.element-list-login-sign2 {
  background-color: #69b99d;
}

.text-login {
  color: #ffffff;
}


.list-login-sign li:first-child:hover + li a {
  background-color: #f5f5f5;
  color: #69b99d;
  box-shadow: 1px 4px 12px 3px rgba(34, 60, 80, 0.2);
  transition: 0.3s;
}

.list-login-sign:has(li:last-child:hover) li:first-child a {
  background-color: #f5f5f5;
  color: #69b99d;
  box-shadow: 1px 4px 12px 3px rgba(34, 60, 80, 0.2);
  transition: 0.3s;
}